/* filepath: web/src/app/mensajes/mensajes.scss */

@use '../../variables' as vars;

.mensaje-error {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #e74c3c;
  padding: 5px;
  border-radius: 13px;
  margin-bottom: 5px;
  max-width: 275px;
}
.mensaje-exito {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #27ae60;
  padding: 5px;
  border-radius: 13px;
  margin-bottom: 5px;
  max-width: 275px;
}

/* mensaje de error, para formularios debajo de los inputs
(texto pequeño en rojo) */
.mensaje-error-form {
  color: vars.$errores-formularios;
  font-size: 13px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-align: left;
  padding-left: 2px;
}