@use '../../_variables' as vars;

.main-header {
  width: 100vw;
  margin: 0;
  padding: 1.3rem 0;
  background: vars.$verde-esmeralda;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .container {
    width: 100%;
    margin: 0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-titulo-texto {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 2.9rem;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 500;
    transition: color 0.2s;

    &:hover {
      color: #e0e0e0;
    }
  }
}

.usuario-dropdown {
  position: relative;
  display: inline-block;

  .saludo-usuario {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    margin-left: 1rem;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.08);
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
    user-select: none;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    color: #222;
    min-width: 160px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    z-index: 10;
    padding: 0.5rem 0;
    text-align: center;

    a {
      display: block;
      padding: 10px 0;
      color: #222; // Texto neutro por defecto
      text-decoration: none;
      border-radius: 6px;
      font-weight: 500;
      transition: background 0.2s, color 0.2s;
      margin: 0 10px;

      &:hover {
  box-shadow: 0 2px 8px #ebeaea;
  background: #fff;
  color: #222;
}
    }
  }

  &.abierto .dropdown-menu {
    display: block;
  }
}