@use '../../_variables' as vars;

.main-header {
  width: 100vw;
  margin: 0;
  padding: 0.5rem 0;
  background: vars.$verde-esmeralda;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .container {
    width: 100%;
    margin: 0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-titulo-texto {
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 2.9rem;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 500;
    transition: color 0.2s;

    &:hover {
      color: #e0e0e0;
    }
  }
}