<header class="main-header">
  <div class="container">
    <span class="logo-titulo-texto">EasyTrip</span>
    <nav>
      <a routerLink="/">Inicio</a>
      <a routerLink="/paquetes">Paquetes</a>
      <a routerLink="/reservas">Reservas</a>
      <a routerLink="/contacto">Contacto</a>
      <ng-container *ngIf="!usuario">
        <a routerLink="/iniciarSesion">Iniciar Sesion</a>
      </ng-container>
      <ng-container *ngIf="usuario">
        <span>Hola {{ usuario.username }}</span>
        <a href="#" (click)="logout(); $event.preventDefault()">Cerrar sesión</a>
      </ng-container>
    </nav>
  </div>
</header>