<h2 class="titulo-mostrar-paquetes-landing">Paquetes Turisticos</h2>
<div class="container-paquetes">
  <div class="paquete-container" *ngFor="let paquete of paquetesLanding; let i = index">
    <div class="imagen-container">
      <span class="precio-badge">{{ paquete.precio_base }} €</span>
      <span class="titulo-paquete-card">{{ paquete.nombre }}</span>
      <!-- Flecha izquierda -->
      <button
        class="flecha-carrusel flecha-izquierda"
        (click)="cambiarImagen(i, -1)"
        *ngIf="paquete.imagenes.length > 1"
        aria-label="Anterior imagen"
      >
        &#8592;
      </button>
      <!-- Imagen actual -->
      <img
        class="imagen-paquete"
        *ngIf="paquete.imagenes.length > 0"
        [src]="paquete.imagenes[imagenActual[i]].imagen_url"
        alt="Imagen de paquete"
      />
      <img
        class="imagen-paquete"
        *ngIf="paquete.imagenes.length === 0"
        [src]="predeterminadaUrl"
        alt="Imagen predeterminada de paquete"
      />
      <!-- Flecha derecha -->
      <button
        class="flecha-carrusel flecha-derecha"
        (click)="cambiarImagen(i, 1)"
        *ngIf="paquete.imagenes.length > 1"
        aria-label="Siguiente imagen"
      >
        &#8594;
      </button>
      <div class="acciones-paquete">
        <button class="btn-reservar">Reservar ya</button>
        <button class="btn-detalles">Ver detalles</button>
      </div>
    </div>
  </div>
</div>