@use '../../_variables' as vars;

body, :host {
  background-color: vars.$gris-claro;
  min-height: 100vh;
}

.titulo-pagina {
 font-size: vars.$font-size-xxxl;
    font-weight: bold;
    margin-bottom: vars.$spacing-xl;
    color: vars.$verde-esmeralda;
    text-align: center;
}

.tarjeta-carta {
    position: relative;
    left: 35%;
    transform: translateX(-60%);
    min-height: 450px;
    max-width: 350px;
    border: 7px solid red;
    border-radius: 24px;
}

.container-imagen {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-paquete {
  display: block;
  width: calc(100% - 20px); // 10px de espacio a cada lado
  margin: 7px;
  border-radius: 20px;
  object-fit: cover;
}

.campos-paquete {
  display: flex;
  flex-direction: column;
  align-items: flex-start; // alinea a la izquierda
  margin-top: 10px;
}

.titulo-paquete {
  margin: 9px;
  font-size: 19px;
}

.descripcion-paquete {
  font-size: 13px;
  color: vars.$gris-oscuro;
  margin-left: 9px;
  margin-bottom: 0;
}

