/* You can add global styles to this file, and also import other style files */

/* para que no haya margenes blancos, ni verticales ni horizontales, lo he puesto mas que nada por el header 
en globales, para que se haga en toda la pagina */

@use 'variables' as vars;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: vars.$gris-claro;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, .logo-titulo-texto {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* Contenedor para mensajes de validación de formulario
para que haga un espacio, y no este tan "compacto" */
.container-espacio-mensaje {
  margin-top: 8px;
}

// clase para cuando no hay registros en una tabla o pagina
// no es un error, simplemente que no hay registros
.sin-registros {
  text-align: center;
  color: #888;
  font-size: 1.3rem;
  margin: 4rem 0;
  opacity: 0.85;
}